<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.joinordo.com/emails/fonts/font.css" rel="stylesheet">
</head>
<body style="margin: 0;background-color: #0DD5B2;">
	<table cellspacing="0" cellpadding="0" width="600" style="width: 100%;background-size: cover;margin: 0 auto;padding-bottom: 1rem;">
		<tbody style="display:table-row-group;vertical-align:middle;">
			<tr style="display:table-row;vertical-align:inherit;">
				<td style="padding: 1rem 0 1.2rem 0;text-align: center;font-size: 30px;color: #FFFFFF;font-family: GILROY; font-weight: 700;">
					<a href="https://checkcheckgoose.com">
						<img src="https://admin.checkcheckgoose.com/media/media/logo.png" alt="" style="width: 200px;">
					</a>
				</td>
			</tr>
		</tbody>
	</table>
	<table cellspacing="0" cellpadding="0" style="width: 100%; max-width: 480px;margin: 0 auto; padding-bottom: 20px;padding-top: 20px;">
		<tr style="display:table-row;vertical-align:inherit;border-color:inherit">
			<td style="padding-left:5px;font-size: 20px;line-height: 32px;font-family: GILROY;font-style: normal;font-weight: normal;text-align: left;">
				<div style="background: #907AD6;height: 6px;width: 40px;left: 185px;border-radius: 0px;display: inline-block;"></div>
				<div style="font-size: 22px; font-weight: 700; line-height: 41px;padding-left:5px;display:inline-block;vertical-align: middle;font-family: GILROY-BOLD;color: #FFFFFF;">
					Hello {{ user }}!
				</div>
			</td>
		</tr>
	</table>
	<table cellspacing="0" cellpadding="0" style="width: 100%; max-width: 480px;margin: 0 auto 0 auto; border-collapse:separate;border-color:gray;border-spacing:0;background: white;border-radius: 8px;padding-bottom: 20px;padding-top: 20px;padding-left: 20px;padding-right: 20px;">
		<tr style="display:table-row;vertical-align:inherit;border-color:inherit">
			<td style="padding-top: 2rem;padding-bottom: 2rem;font-family: GILROY;font-size: 16px;line-height: 28px;color: #101828;">
				<span style="font-family: GILROY-BOLD;">Admin</span>
				<span> has invited you for workspace </span>
				<span style="font-family: GILROY-BOLD;">{{ workspace_name }}</span>
				<span> on </span>
				<span>{{ date }}</span>
			</td>
		</tr>
	</table>
	<table cellspacing="0" cellpadding="0" style="width: 100%; max-width: 480px;margin: 50px auto 0 auto;padding-top: 2rem;padding-bottom: 2rem;border-top: 1px solid gray;">
		<tr style="display:table-row;vertical-align:inherit;border-color:inherit">
			<td style="color: #101828;font-family: GILROY;font-weight: 500">CheckCheckGoose.com - Built by Axe</td>
			<td style="color: #101828;font-family: GILROY;font-weight: 500;text-align: right">Unsubscribe</td>
		</tr>
	</table>
</body>
</html>