<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="margin: 0;background-color: #0DD5B2; padding-top: 4rem;">
	<table cellspacing="0" cellpadding="0" style="width: 100%; max-width: 480px;margin: 0 auto 0 auto; border-collapse:separate;border-color:gray;border-spacing:0;background: white;border-radius: 8px;padding-bottom: 1.5rem;padding-top: 1.5rem;padding-left: 20px;padding-right: 20px; box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);">
		<tr style="display:table-row;vertical-align:inherit;border-color:inherit">
			<td style="padding-top: 1rem;padding-bottom: 2rem;">
				<p style="text-align: center;"><img src="https://admin.checkcheckgoose.com/media/media/icon.png" alt="" style="width: 4rem; height: 4rem;"></p>
				<p style="color: #101828; font-size: 24px; font-weight: bold; text-align: center; margin-bottom: 1rem; margin-top: 2rem;">You've been invited!</p>
				<p style="font-size: 16px;color: #9A9A9A; line-height: 1.6; margin-bottom: 1rem;">
					<span style="font-weight: bold;">Admin</span>
					<span> has invited you to join the </span>
					<span style="font-weight: bold;">{{ workspace_name }}</span>
					<span> Workspace to collaborate on checklists with your team members. </span>
				</p>
				<p style="font-size: 16px;color: #9A9A9A; line-height: 1.6; margin-bottom: 1rem;">To join the workspace, please click the button below:</p>
				<p style="text-align: center; margin-bottom: 2rem; margin-top: 2rem;">
					<a href="https://checkcheckgoose.com/workspace/{{workspace_id}}" style="background-color: #0DD5B2; padding: 1rem 2rem; color: #FFFFFF; font-weight: bold; text-decoration: none; border-radius: 0.2rem; width: 90%; max-width: 250px; display: inline-block;">View Workspace</a>
				</p>
				<p style="font-size: 16px;color: #9A9A9A; line-height: 1.6; margin-bottom: 1rem;">You will need to create an account with Check Check Go if you don't already have one. Once you've joined the workspace, you can start creating checklists and inviting your team members to collaborate.</p>
				<p style="font-size: 16px;color: #9A9A9A; line-height: 1.6; margin-bottom: 1rem;">Thank you for joining the Check Check Goose Checklist Workspace. We look forward to seeing how this tool will help you and your team streamline your work and achieve more together.</p>
				<p style="font-size: 16px; color: #9A9A9A; line-height: 1.6; margin-bottom: 0.5rem;">Best regards,</p>
				<p style="font-size: 16px; color: #9A9A9A; line-height: 1.6; margin-top: 0rem; margin-bottom: 1rem;">Check Check Goose</p>
			</td>
		</tr>
	</table>
	<table cellspacing="0" cellpadding="0" style="width: 100%; max-width: 480px;margin: 0 auto 0 auto;padding-top: 2rem;padding-bottom: 2rem;">
		<tr style="display:table-row;vertical-align:inherit;border-color:inherit">
			<td style="color: #FFFFFF;font-weight: 500">CheckCheckGoose.com</td>
			<td style="color: #FFFFFF;font-weight: 500;text-align: right">Unsubscribe</td>
		</tr>
	</table>
</body>
</html>