<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="margin: 0;background-color: #0DD5B2; padding-top: 4rem;">
	<table cellspacing="0" cellpadding="0" style="width: 100%; max-width: 480px;margin: 0 auto 0 auto; border-collapse:separate;border-color:gray;border-spacing:0;background: white;border-radius: 8px;padding-bottom: 1.5rem;padding-top: 1.5rem;padding-left: 20px;padding-right: 20px; box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);">
		<tr style="display:table-row;vertical-align:inherit;border-color:inherit">
			<td style="padding-top: 1rem;padding-bottom: 2rem;">
				<p style="text-align: center;"><img src="https://admin.checkcheckgoose.com/media/media/icon.png" alt="" style="width: 4rem; height: 4rem;"></p>
				<p style="color: #101828; font-size: 24px; font-weight: bold; text-align: center; margin-bottom: 1rem; margin-top: 2rem;">{{ submit_user }} submitted {{ list_name }} list</p>
				<p style="font-size: 16px; color: #9A9A9A; line-height: 1.6;">A new task list has been submitted for your review on Check Check Goose by a team member.</p>
				<p style="font-size: 16px; color: #9A9A9A; line-height: 1.6;">Task List Title: {{ list_name }}</p>
				<p style="font-size: 16px; color: #9A9A9A; line-height: 1.6;">Submitted by: {{ submit_user }}</p>
				<p style="font-size: 16px; color: #9A9A9A; line-height: 1.6;">Please log in to Check Check Goose to review the task list and provide feedback or approve it for completion. The task list can be found under the "Submitted" tab in the workspace.</p>
				<p style="font-size: 16px; color: #9A9A9A; line-height: 1.6;">If you have any questions or concerns, please contact the team member who submitted the task list or our customer support team.</p>
				<p style="font-size: 16px; color: #9A9A9A; line-height: 1.6; margin-bottom: 0.5rem;">Best regards,</p>
				<p style="font-size: 16px; color: #9A9A9A; line-height: 1.6; margin-top: 0rem; margin-bottom: 1rem;">Check Check Goose</p>
				<p style="text-align: center; margin-top: 2rem;">
					<a href="https://checkcheckgoose.com/workspace/{{workspace_id}}/list/{{list_id}}?log={{log_id}}" style="background-color: #0DD5B2; padding: 1rem 2rem; color: #FFFFFF; font-weight: bold; text-decoration: none; border-radius: 0.2rem; width: 90%; max-width: 250px; display: inline-block;">View Submitted List</a>
				</p>
			</td>
		</tr>
	</table>
	<table cellspacing="0" cellpadding="0" style="width: 100%; max-width: 480px;margin: 0 auto 0 auto;padding-top: 2rem;padding-bottom: 2rem;">
		<tr style="display:table-row;vertical-align:inherit;border-color:inherit">
			<td style="color: #FFFFFF; font-weight: 500">CheckCheckGoose.com</td>
			<td style="color: #FFFFFF; font-weight: 500;text-align: right">Unsubscribe</td>
		</tr>
	</table>
</body>
</html>