<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body style="margin: 0;background-color: #0D0D0D;">
	<!-- <table cellspacing="0" cellpadding="0" width="600" style="width: 100%;background-size: cover;margin: 0 auto;padding-bottom: 1rem;">
		<tbody style="display:table-row-group;vertical-align:middle;">
			<tr style="display:table-row;vertical-align:inherit;">
				<td style="padding: 1rem 0 1.2rem 0;text-align: center;background-color: #0D0D0D;font-size: 30px;color: #FFFFFF;font-family: Zilla Slab; font-weight: 700;">
					<a href="https://tailgate.live">
						<img src="https://tailgate.live/_nuxt/public/tail.png" width="200">
					</a>
				</td>
			</tr>
		</tbody>
	</table> -->
	<table cellspacing="0" cellpadding="0" style="width: 100%; max-width: 480px;margin: 0 auto; padding-bottom: 20px;padding-top: 20px;">
		<tr style="display:table-row;vertical-align:inherit;border-color:inherit">
			<td style="padding-left:5px;font-size: 20px;line-height: 32px;font-family: Arial, Helvetica, sans-serif;font-style: normal;font-weight: normal;text-align: left;">
				<div style="background: rgba(222, 59, 64, 1);height: 6px;width: 40px;left: 185px;border-radius: 0px;display: inline-block;"></div>
				<div style="font-size: 22px; font-weight: 700; line-height: 41px;padding-left:5px;display:inline-block;vertical-align: middle;font-family: Zilla Slab;color: #FFFFFF;">
					Welcome to the CheckList App!
				</div>
			</td>
		</tr>
	</table>
	<table cellspacing="0" cellpadding="0" style="width: 100%; max-width: 480px;margin: 0 auto 0 auto; border-collapse:separate;border-color:gray;border-spacing:0;background: linear-gradient( 347.54deg, rgba(255, 255, 255, 0.01) 8.65%, rgba(255, 255, 255, 0.03) 8.67%, rgba(255, 255, 255, 0.19) 224.51%, rgba(255, 255, 255, 0.08) 224.51%);border-radius: 8px;padding-bottom: 20px;padding-top: 20px;padding-left: 20px;padding-right: 20px;">
		<tr style="display:table-row;vertical-align:inherit;border-color:inherit">
			<td style="opacity: 0.8; font-size: 16px;line-height: 28px;font-family: Arial, Helvetica, sans-serif;padding-top: 2rem;padding-bottom: 2rem;font-style: normal;font-weight: normal;text-align: left;color: #FFFFFF;">
				Hey there! We're so glad you subscribed to Tailgate.live. We'll email you the top articles on college football and any of your favorite teams, Monday through Friday. Now you'll never miss a news update, game breakdown, or coaching hire! If you have any questions, email us at hey@tailgate.live.
			</td>
		</tr>
	</table>
	<table cellspacing="0" cellpadding="0" style="width: 100%; max-width: 480px;margin: 50px auto 0 auto;padding-top: 2rem;padding-bottom: 2rem;border-top: 1px solid gray;">
		<tr style="display:table-row;vertical-align:inherit;border-color:inherit">
			<td style="color: #595959;font-family: Arial, Helvetica, sans-serif;font-weight: 500">Tailgate.live - Built by Axe</td>
			<td style="color: #595959;font-family: Arial, Helvetica, sans-serif;font-weight: 500;text-align: right">Unsubscribe</td>
		</tr>
	</table>
</body>
</html>